*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/DebugKey
/encryption_public_key.pem
/output.zip
/pepk.jar
/private_key.pepk
/releaseKey
/app/google-services.json
/app/src/main/res/raw/output_final.json
/app/src/main/res/raw/output_final_img_.json
/app/src/main/res/drawable/*.png
/upload_certificate.pem
/externalConfig.gradle